<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleVersion</key>
    <string>141</string>
    <key>NSHumanReadableCopyright</key>
    <string>©4D SAS 2015-2025</string>
    <key>CFBundleLongVersionString</key>
    <string>dev</string>
    <key>CFBundleGetInfoString</key>
    <string>4D Labels</string>
    <key>CFBundleShortVersionString</key>
    <string>dev</string>
    <key>CFBundleName</key>
    <string>4D Labels</string>
  </dict>
</plist>
